.catalog-section-background {
  background-image: url("../../../public/images/home/catalog/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.character-image-position {
  left: -120px;
}

@media (min-width: 430px) {
  .character-image-position {
    left: -60px;
  }
}

@media (min-width: 490px) {
  .character-image-position {
    left: 0px;
  }
}
