@supports (background-clip: text) {
  article .animate-text-bg {
    color: transparent;
    font-weight: bold;
    background: linear-gradient(45deg, white 35%, #0bdb45 40%, white 45%);
    background-size: 300% 100%;
    background-clip: text;
  }
}

article:hover .animate-text-bg {
  animation: gradient 1s ease reverse;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
