.shopping-cart-sidebar-main-div {
  background-color: rgba(5, 19, 1, 0.1); /* Color #051301 with 40% opacity */
  backdrop-filter: blur(20px); /* Apply a blur effect of 60px */
}

.shopping-cart-sidebar-card-item {
  background: #ffffff33;
  border: 0.41px solid #ffffff;
  backdrop-filter: blur(49.54887390136719px);
}
