.animate-toggle-button > div {
  transform: rotate(180deg);
  background-color: transparent;
}
.animate-toggle-button > div::before {
  transform: translateY(0) rotate(45deg);
}
.animate-toggle-button > div::after {
  transform: translateY(0) rotate(-45deg);
}
.animate-open-menu {
  animation: open-menu 1s;
}
@keyframes open-menu {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
