:root {
  --admin-leaklight-size: 350px;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.leaklights {
  position: relative;
  display: flex;
  background-color: #0a0a0b;
  overflow: hidden;
}

.leaklights::before {
  content: "";
  width: var(--admin-leaklight-size);
  height: var(--admin-leaklight-size);
  position: absolute;
  left: calc(var(--admin-leaklight-size) * -0.2);
  bottom: calc(var(--admin-leaklight-size) * -0.2);
  background: radial-gradient(circle, #00ffa1, #0a0a0b);
  opacity: 0.2;
  border-radius: 50%;
  filter: blur(calc(var(--admin-leaklight-size) * 0.3));
}

.leaklights::after {
  content: "";
  width: var(--admin-leaklight-size);
  height: var(--admin-leaklight-size);
  position: absolute;
  top: calc(var(--admin-leaklight-size) / -3);
  right: calc(var(--admin-leaklight-size) / -3);
  background: radial-gradient(circle, #00ffa1, #0a0a0b);
  opacity: 0.2;
  border-radius: 50%;
  filter: blur(calc(var(--admin-leaklight-size) * 0.3));
}

.animate-admin-menu {
  animation-name: animate-admin-menu;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.reverse-animate-admin-menu {
  animation-name: reverse-animate-admin-menu;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.animate-toggle-button > div {
  transform: rotate(180deg);
  background-color: transparent;
}

.animate-toggle-button > div::before {
  transform: translateY(0) rotate(45deg);
}

.animate-toggle-button > div::after {
  transform: translateY(0) rotate(-45deg);
}

.animate-open-menu {
  animation: open-menu 1s;
}

.animate-category-dropdown {
  animation: animate-category-dropdown 300ms forwards;
}

.reverse-animate-category-dropdown {
  animation: reverse-animate-category-dropdown 300ms forwards;
}

@keyframes animate-admin-menu {
  from {
    transform: translateX(-100%);
    display: none;
  }
  to {
    transform: translateX(0);
    display: block;
  }
}

@keyframes reverse-animate-admin-menu {
  from {
    transform: translateX(0);
    display: block;
  }
  to {
    transform: translateX(-100%);
    display: none;
  }
}

@keyframes open-menu {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

@keyframes animate-category-dropdown {
  from {
    transform: scaleY(0);
    display: none;
  }
  to {
    transform: scaleY(1);
    display: block;
  }
}

@keyframes reverse-animate-category-dropdown {
  from {
    transform: scaleY(1);
    display: block;
  }
  to {
    transform: scaleY(0);
    display: none;
  }
}

@media (min-width: 640px) {
  :root {
    --admin-leaklight-size: 420px;
  }
}

@media (min-width: 768px) {
  :root {
    --admin-leaklight-size: 400px;
  }

  .leaklights::before {
    left: calc(var(--admin-leaklight-size) * 0.2);
    bottom: calc(var(--admin-leaklight-size) * -0.2);
  }

  .leaklights::before,
  .leaklights::after {
    filter: blur(calc(var(--admin-leaklight-size) * 0.2));
  }
}

@media (min-width: 1024px) {
  :root {
    --admin-leaklight-size: 450px;
  }
}

@media (min-width: 1280px) {
  .reverse-animate-admin-menu {
    animation-name: animate-admin-menu;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  :root {
    --admin-leaklight-size: 500px;
  }
}

@media (min-width: 1536px) {
  :root {
    --admin-leaklight-size: 550px;
  }
}
